{% extends 'base.html' %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle mb-3">
    <h1>Categories <a href="{% url 'category_create' %}" style="float: right;" class="btn btn-md btn-primary">Create Category</a></h1>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <div class="card top-selling overflow-auto">
          <div class="card-body pb-0">
            <h5 class="card-title">Category List</h5>

            <table class="table table-borderless" >
              <thead>
                <tr>
                  <th style="width:10%">#</th>
                  <th style="width:40%">Name</th>
                  <th style="width:50%;">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for category in category_list %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{category.name}}</td>
                  <td>
                    <a href="{% url 'category_update'  category.pk %}" class="btn btn-md btn-success">Update<i class="fa fa-pencil" style="margin-left  : 10px;" aria-hidden="true"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}