<style>
    .d-ak{
        position: relative;
        top:-38px;
        z-index: 1;
    }
    .in-ak{
        width: 90%;
        z-index: 99;
        height: 38px;
    }
    .z--1{
        z-index:-1 !important;
    }
</style>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
            <th>Price</th>
            <th style="width: 10%;text-align: center;font-size: 25px;padding: 0;font-weight: bolder;cursor: pointer;"><span onclick="addProductForm()">+</span></th>
        </tr>
    </thead>
    <tbody id='productForms'>
        <tr>
            <td>
                <div class="row mr-0">
                    <input type="text" class="form-control in-ak" placeholder="Type A Dress ID" size="30"
                        onkeyup="showResults(this)" onfocus="showResults(this)" name="" required/>
                </div>
                <div class="row mr-0"><select name="products" required class="form-select d-ak" onchange="assingV(this)"></select>
                </div>
            </td>
            <td><input class="form-control" placeholder="description" name="description"></td>
            <td><input class="form-control" placeholder="size" name="size"></td>
            <td><input class="form-control" placeholder="price" name="price"></td>
            <td style="width: 10%;text-align: center;cursor: pointer;">
                <span onclick="removeProductForm(this)"><i class="fa fa-trash" aria-hidden="true"></i>
            </span></td>
            </td>
        </tr>
    </tbody>
</table>
<script>
    startDate = document.getElementById('startDate')
    endDate = document.getElementById('endDate')
    startDateId = document.getElementById('id_startDate')
    endDateId = document.getElementById('id_endDate')
    startTime = document.getElementById('startTime')
    endTime = document.getElementById('endTime')
    startTimeId = document.getElementById('id_startTime')
    endTimeId = document.getElementById('id_endTime')
    var myProductArray = []
    dateForm = document.getElementById('dateForm')
    dateForm.addEventListener("submit", async (e) => {
        e.preventDefault()
        document.getElementById('id_branch').value = document.getElementById('branch_pk').value
        payload = new FormData(dateForm)
        console.log("sent req");
        fetch("{% url 'booked_product_search' %}", {
            method: "POST",
            body: payload
        }).then(res => res.json()).then(data => {
            myProductArray = data
            console.log("rec data ", myProductArray);
        }).then(() => {
            startDateId.value = startDate.value
            endDateId.value = endDate.value
            startTimeId.value = startTime.value
            endTimeId.value = endTime.value
            console.log(startTime.value, endTime.value, startTimeId.value,endTimeId.value)
        }
        )
    })
    var nameArr = '';
    function assingV(ele){
        let inputV = ele.parentElement.previousElementSibling.getElementsByTagName('input')[0];
        let selected_option = ele.options[ele.selectedIndex]
        inputV.value = selected_option.text;
        price = selected_option.dataset.price
        // inputV.setAttribute('disabled', 'disabled');
        // ele.classList.add('d-none')
        inputV.classList.add('z--1')
        inputV.setAttribute('disabled', 'disabled');
        td = ele.parentElement.parentElement;
        console.log('first td ', td)
        let td1 = td.nextElementSibling;
        // td1.getElementsByTagName('input')[0].value = desc;
        // td1.getElementsByTagName('input')[0].setAttribute('readonly', 'readonly');
        let td2 = td1.nextElementSibling;
        // td2.getElementsByTagName('input')[0].value = size;
        // td2.getElementsByTagName('input')[0].setAttribute('readonly', 'readonly');
        let td3 = td2.nextElementSibling;
        td3.getElementsByTagName('input')[0].value = price;
        td3.getElementsByTagName('input')[0].setAttribute('readonly', 'readonly');
        totalA = document.getElementById('id_totalAmount')
        if (totalA.value == ""){
            totalA.value = Number(price)
        }
        else {
            totalA.value = Number(totalA.value)+Number(price)
        }
        addProductForm(); 
    }

    function showResults(ele) {
        let searchresult = ele.parentElement.nextElementSibling.childNodes[0];
        searchresult.innerHTML = "<option style='color:red;'> select a product </option>"
        var typedInput = ele.value
        console.log("typed input : ", typedInput, searchresult)
        if (myProductArray.length >= 1) {
            console.log(myProductArray)
            let newarr = myProductArray.filter(a => (a.tag.match(typedInput)))
            console.log('newarr => ', newarr)
            newarr.forEach((item, index) => {
                {% comment %} searchresult.innerHTML += `<option style='color:green;' onclick="assingV(this.parentNode,'${item.description}',${item.size},${item.price})" class="options" value=${item.id}` + '>' + `${item.name}  ${item.tag} ` + "</option>" {% endcomment %}
                searchresult.innerHTML += `<option style='color:green;' class="options" data-price='${item.price}' value=${item.id}` + '>' + `${item.name}  ${item.tag} ` + "</option>"
                return item
            })
        } else {
            searchresult.innerHTML += "<option style='color:red;' value=  > no products found </option>"
            console.log("nothing here")
            return
        }
    }
</script>
<script>
    function addProductForm() {
        let tr = document.createElement('tr');
        tr.innerHTML = '<td>'
            + '<div class="row mr-0">'
            + '<input type="text" class="form-control in-ak" placeholder="Type A Dress ID"'
            + 'size="30" onkeyup="showResults(this)" onfocus="showResults(this)" name=""/>'
            + '</div>'
            + '<div class="row mr-0"><select name="products" class="form-select d-ak" onchange="assingV(this)"></select>'
            + '</div>'
            + '</td>'
            + '<td><input class="form-control" placeholder="description" name ="description" ></td>'
            + '<td><input class="form-control" placeholder="size"  name="size"></td>'
            + '<td><input class="form-control" placeholder="price"  name="price"></td>'
            + '<td style="width: 10%;text-align: center;cursor: pointer;">'
            + '<span onclick="removeProductForm(this)"><i class="fa fa-trash" aria-hidden="true"></i>'
            + '</span></td>'
        console.log(tr.innerHTML);
        document.getElementById('productForms').appendChild(tr);
        return;
    };
    function removeProductForm(ele){
        ele.parentNode.parentElement.remove();
        return;
    }
</script>