<style>
    .d-ak{
        position: relative;
        top:-38px;
        z-index: 1;
    }
    .in-ak{
        width: 90%;
        z-index: 99;
        height: 38px;
    }
    .z--1{
        z-index:-1 !important;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
            <!-- {{check_tax_quantity.consider_tax}} -->
            {%if check_tax_quantity %}
                {%if check_tax_quantity.consider_quantity %}
                    <th>Quantity</th>
                {% endif %}

                {%if check_tax_quantity.consider_tax %}
                    <th>Tax</th>
                {% endif %}

            {% endif %}
            <th>Price</th>
            <th style="width: 10%;text-align: center;font-size: 25px;padding: 0;font-weight: bolder;cursor: pointer;"><span onclick="addProductForm()">+</span></th>
        </tr>
    </thead>
    <tbody id='productForms'>
        <tr>
            <td>
                <div class="row mr-0">
                    <input type="text" class="form-control in-ak" placeholder="Type A Dress ID" size="25"
                        onkeyup="showResults(this)" onchange="showResults(this)" name="" required/> 
                </div>
                <div class="row mr-0"><select name="products" required class="form-select d-ak" onchange="assingV(this)"></select>
                </div>
                {% comment %} <select class="js-example-basic-single" name="state" onkeyup="showResults(this)" onchange="showResults(this)">
                    <option value="AL">Alabama</option>
                      ...
                    <option value="WY">Wyoming</option>
                  </select> {% endcomment %}
            </td>
            <td><input class="form-control" placeholder="description" name="description"></td>
            <td><input class="form-control" placeholder="size" name="size"></td>
            {%if check_tax_quantity %}
                {%if check_tax_quantity.consider_quantity %}
                <td><input class="form-control" placeholder="Quantity" type="number" name="Quantity"></td>
                {% endif %}

                {%if check_tax_quantity.consider_tax %}
                <td><input class="form-control" placeholder="Tax" type="number" name="Tax"></td>
                {% endif %}

            {% endif %}
            <td><input class="form-control" placeholder="price" type="number" name="price"></td>
            <td style="width: 10%;text-align: center;cursor: pointer;">
                <span onclick="removeProductForm(this)"><i class="fa fa-trash" aria-hidden="true"></i>
            </span></td>
            </td>
        </tr>
    </tbody>
</table>
<script>
    startDate = document.getElementById('startDate')
    endDate = document.getElementById('endDate')
    startDateId = document.getElementById('id_startDate')
    endDateId = document.getElementById('id_endDate')
    startTime = document.getElementById('startTime')
    endTime = document.getElementById('endTime')
    startTimeId = document.getElementById('id_startTime')
    endTimeId = document.getElementById('id_endTime')
    var myProductArray = []
    dateForm = document.getElementById('dateForm')
    dateForm.addEventListener("submit", async (e) => {
        e.preventDefault()
        document.getElementById('id_branch').value = document.getElementById('branch_pk').value
        payload = new FormData(dateForm)
        console.log("sent req");
        fetch("{% url 'booked_product_search' %}", {
            method: "POST",
            body: payload
        }).then(res => res.json()).then(data => {
            myProductArray = data
            console.log("rec data ", myProductArray);
        }).then(() => {
            startDateId.value = startDate.value
            endDateId.value = endDate.value
            startTimeId.value = startTime.value
            endTimeId.value = endTime.value
            console.log(startTime.value, endTime.value, startTimeId.value,endTimeId.value)
        }
        )
        
    })
    var nameArr = '';
    function assingV(ele){
        let inputV = ele.parentElement.previousElementSibling.getElementsByTagName('input')[0];
        let selected_option = ele.options[ele.selectedIndex]
        inputV.value = selected_option.text;
        let price = selected_option.dataset.price
        let desc = selected_option.dataset.desc
        let size = selected_option.dataset.size 
        // inputV.setAttribute('disabled', 'disabled');
        ele.setAttribute('readonly', 'readonly');
        inputV.classList.add('z--1')
        inputV.setAttribute('disabled', 'disabled');
        td = ele.parentElement.parentElement;
        console.log('first td ', td)
        let td1 = td.nextElementSibling;
        td1.getElementsByTagName('input')[0].value = desc;
        let td2 = td1.nextElementSibling;
        td2.getElementsByTagName('input')[0].value = size;
        let td3 = td2.nextElementSibling;
        td3.getElementsByTagName('input')[0].value = price;
        td3.getElementsByTagName('input').type=number;
        
        totalA = document.getElementById('id_totalAmount')
        if (totalA.value == ""){
            totalA.value = Number(price)
        }
        else {
            totalA.value = Number(totalA.value)+Number(price)
        }
        let ind = document.getElementsByClassName('d-ak').length
        if(document.getElementsByClassName('d-ak')[ind-1].value!="" && document.getElementsByClassName('d-ak')[ind-1].value!="select a product"){
            addProductForm(); 
        }
    }

    function showResults(ele) {
        let searchresult = ele.parentElement.nextElementSibling.childNodes[0];
        searchresult.innerHTML = "<option style='color:red;' selected='true' disabled='disabled'> select a product </option>"
        var typedInput = ele.value
        console.log("typed input : ", typedInput, searchresult)
        if (myProductArray.length >= 1) {
            console.log(myProductArray)
            let newarr = myProductArray.filter(a => (a.tag.match(typedInput)))
            console.log('newarr => ', newarr)
            newarr.forEach((item, index) => {
                {% comment %} searchresult.innerHTML += `<option style='color:green;' onclick="assingV(this.parentNode,'${item.description}',${item.size},${item.price})" class="options" value=${item.id}` + '>' + `${item.name}  ${item.tag} ` + "</option>" {% endcomment %}
                searchresult.innerHTML += `<option style='color:green;' class="options" data-price='${item.price}' data-desc='${item.description}' data-size='${item.size}' value=${item.id}` + '>' + `${item.name}  ${item.tag} ` + "</option>"
                return item
            })
        } else {
            searchresult.innerHTML += "<option style='color:red;' value=  > no products found </option>"
            console.log("nothing here")
            return
        }
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                ajax: {
                    url: '{% url 'booked_product_search' %}',
                    dataType: 'json',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return console.log("hello");
                            })
                        };
                    }
                },
                minimumInputLength: 1
            });
        });
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    function addProductForm() {
        let tr = document.createElement('tr');
        tr.innerHTML = '<td>'
            + '<div class="row mr-0">'
            + '<input type="text" class="form-control in-ak" placeholder="Type A Dress ID"'
            + 'size="30" onkeyup="showResults(this)" onfocus="showResults(this)" name=""/>'
            + '</div>'
            + '<div class="row mr-0"><select name="products" class="form-select d-ak" onchange="assingV(this)"></select>'
            + '</div>'
            + '</td>'
            + '<td><input class="form-control" placeholder="description" name ="description" ></td>'
            + '<td><input class="form-control" placeholder="size"  name="size"></td>'
            + '<td><input class="form-control" type="number" placeholder="price"  name="price"></td>'
            + '<td style="width: 10%;text-align: center;cursor: pointer;">'
            + '<span onclick="removeProductForm(this)"><i class="fa fa-trash" aria-hidden="true"></i>'
            + '</span></td>'
        console.log(tr.innerHTML);
        document.getElementById('productForms').appendChild(tr);
        return;
    };
    function removeProductForm(ele){
        ele.parentNode.parentElement.remove();
        return;
    }
</script>
{% comment %} <script>
$(document).ready(function () {
            $('.js-example-basic-single').select2({
                ajax: {
                    url: '{% url 'booked_product_search' %}',
                    dataType: 'json',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                let newarr = myProductArray.filter(a => (a.tag.match(item.term)))
                                console.log(newarr)
                                return "showResults(item.term)";
                            })
                        };
                    }
                },
                minimumInputLength: 1
            });
        });
</script>{% endcomment %}
