{% block sidebar%}
{% load static %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'dashboard' %}">
          <i class="bi bi-grid"></i>
          <span class="text-black"> Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'booking_add'  %}">
          <i class="bi bi-grid"></i>
          <span>Create Booking</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'booking_list' %}">
          <i class="bi bi-grid"></i>
          <span>All Bookings</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'return_list' %}">
          <i class="bi bi-grid"></i>
          <span>Returns</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'pending_list' %}">
          <i class="bi bi-grid"></i>
          <span>Pendings</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'product_list' %}">
          <i class="bi bi-grid"></i>
          <span>Products</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'maintainance_list' %}">
          <i class="bi bi-grid"></i>
          <span>Maintainance</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'category_list' %}">
          <i class="bi bi-grid"></i>
          <span>Category</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'customer_list' %}">
          <i class="bi bi-grid"></i>
          <span>Customers</span>
        </a>
      </li>
      {% comment %} <li class="nav-item">
        <a class="nav-link " href="{% url 'staff_list' %}">
          <i class="bi bi-grid"></i>
          <span>Staff</span>
        </a>
      </li> {% endcomment %}
      {% comment %} <li class="nav-item">
        <a class="nav-link " href="{% url 'branch_list' %}">
          <i class="bi bi-grid"></i>
          <span>Branch</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'product_bulk_upload' %}">
          <i class="bi bi-grid"></i>
          <span>Bulk Upload</span>
        </a>
      </li> {% endcomment %}
      {% if request.user.is_authenticated %}
      <li class="nav-heading">Account</li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'seller_profile' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>
      {% endif %}
    </ul>

  </aside><!-- End Sidebar-->
{% endblock sidebar %}