{% extends 'base.html' %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle mb-3">
    <h1>Bookings <a href="{% url 'booking_add' %}" style="float: right;" class="btn btn-md btn-primary">Create Booking</a></h1>
    <form class="form-inline" action="{% url 'booking_list'  %}" method="post">
      {% csrf_token %}
      <input class="form-control" required type="date" name="startDate">
      <input class="form-control"  required type="date" name="endDate">
      <button class="btn btn-sm btn-primary">Go</button>
    </form>
    <button class="btn  btn-md btn-dark float-end " onclick="printDiv()">print</button>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <div class="card top-selling overflow-auto">
          <div class="card-body pb-0">
            <h5 class="card-title">Booking List</h5>

            <table class="table" >
              <thead>
                <tr>
                  <th style="width:5%">#</th>
                  <th style="width:10%">Customer</th>
                  <th style="width:10%;">Contact</th>
                  <th style="width:10%;">Products</th>
                  <th style="width:10%;">StarDate</th>
                  <th style="width:10%;">EndDate</th>
                  <!-- <th style="width:10%;">Actions</th> -->
                </tr>
              </thead>
              <tbody>
                {% for booking in booking_list %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{booking.customerName}}</td>
                  <td>{{booking.mobileNumber}}</td>
                  <td>
                    <div class="col col-12">
                      <ul>
                        {%  for booked_product in booking.products.all %}
                            <li>{{booked_product.name}} {{booked_product.tag}}</li>
                        {% endfor %}
                      </ul>
                      </div>
                  </td>
                  <td>{{booking.startDate}}</td>
                  <td>{{booking.endDate}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% include 'paginate_component.html' %}
      </div>
    </div>
  </section>
</main>

<script>
  function printDiv() {
    console.log("gog")
   var printContents = document.getElementById("section-to-print").innerHTML;
   var originalContents = document.body.innerHTML;
   document.body.innerHTML = printContents;

   window.print();
   document.body.innerHTML = originalContents;
}
</script>

{% endblock %}