{% extends 'base.html' %} {% block content %}
{%load crispy_forms_tags %}
<main id="main" class="main">
  {% include 'includes/alert.html' %}
  <div class="pagetitle">
    <h1>Create Booking</h1>
    {% include 'includes/product_search.html' %}
  </div><!-- End Page Title -->
  <section class="section d-none" id='bookingSection'>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Customer</h5>
            <form method="POST"  enctype="multipart/form-data"  id="bookigFrom" >
              {% csrf_token %}
              <div class="row">
                <div  style="display: none" class=" col-6">{{ bookingForm.startDate|as_crispy_field }}</div>
                <div style="display: none" class=" col-6">{{ bookingForm.endDate|as_crispy_field }}</div>
                <div class="col-6">{{ bookingForm.customerName|as_crispy_field }}</div>
                <div class="col-6">{{ bookingForm.mobileNumber|as_crispy_field }}</div>
                <div class="col-6">{{ bookingForm.alternateNumber|as_crispy_field }}</div>
                <div class="col-6">{{ bookingForm.address|as_crispy_field }}</div>
                <div class="col-6">{{ bookingForm.referenceNo|as_crispy_field }}</div>
                <div class="col-6">
                  <div id="div_id_shop" class="form-group">
                    <label for="id_shop" class="">
                      Shop
                    </label>
                    <div>
                      <input disabled type="text" value="{{seller.shop}}" name="shop" maxlength="100" class="form-control textinput textInput" id="id_shop">
                    </div>
                  </div>
                </div>
              </div>
              <h5 class="card-title">Products</h5>
              {% include 'includes/booking_product_component.html' %}
              <h5 class="card-title">Total</h5>
              <div class="row">
                <div class="col-4">{{ bookingForm.totalAmount|as_crispy_field }}</div>
                <div class="col-4">{{ bookingForm.amountPaid|as_crispy_field }}</div>
                <div onclick="doMath()" class="col-4">{{ bookingForm.amountDue|as_crispy_field }}</div>
              </div>
              <input class="btn btn-primary btn mt-3" type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
    submitDate = document.getElementById('submitDate')

    bookingSection = document.getElementById('bookingSection')

    submitDate.addEventListener('click',()=>{
      if(document.getElementById('startDate').value !=  "" && document.getElementById('endDate').value != ""){
          bookingSection.classList.remove('d-none');
      }
    })
    function doMath()
    {
        var total = document.getElementById('id_totalAmount').value;
        var amountPaid = document.getElementById('id_amountPaid').value;
        var sum = Number(total) -  Number(amountPaid);
        document.getElementById("id_amountDue").value = sum;
    }
</script>
{% endblock %}
