{% extends 'base.html' %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle mb-3 col-lg-12">
    <h1>Bookings <a href="{% url 'booking_add' %}" style="float: right;" class="btn btn-md btn-primary">Create
        Booking</a></h1>
    <form class="mt-3" action="{% url 'booking_list'  %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-6 col-lg-3 form-group">
          <label>Start Date</label>
          <input type="date" class=" form-control" name="startDate" id="startDate" required>
        </div>
        <div class="col-6 col-lg-3 form-group">
          <label>End Date</label>
          <input type="date" class=" form-control" name="endDate" id="endDate" required>
        </div>
        <div class="col-6 col-lg-3 form-group">
          <label>Start Time</label>
          <select class=" form-control" name="startTime" id='startTime' required >
            <option value=1>Morning</option>
            <option value=2>Afternoon</option>
            <option value=3>Evening</option>
        </select>
        </div>
        <div class="col-6 col-lg-3 form-group">
          <label>End Time</label>
          <select class=" form-control" name="endTime" id='endTime' required >
            <option value=1>Morning</option>
            <option value=2>Afternoon</option>
            <option value=3>Evening</option>
        </select>
        </div>
        <div class="col-12 form-group">
          <button class="btn btn mt-3 btn btn-primary" id="submitDate" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <div class="card top-selling overflow-auto" id='section-to-print'>
          <div class="card-body pb-0">
            <h5 class="card-title d-inline-block" style="width: 90%;">Booking List</h5>
            <button class="btn my-3 btn-md btn-dark float-end" style="width: 100px;" onclick="printDiv()">Print</button>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th style="width:3%">#</th>
                  <th style="width:10%">Customer</th>
                  <th style="width:10%;">Contact</th>
                  <th style="width:12%;">Products</th>
                  <th style="width:13%;">Pickup Time</th>
                  <th style="width:13%;">Return Time</th>
                  <th style="width:10%;">Branch</th>
                  <th style="width:29%;text-align: right;"> <span style="margin-right: 5%;">Action</span></th>
                </tr>
              </thead>
              <tbody>
                {% for booking in booking_list %}
                <tr onclick="window.location='{% url 'booking_details'  booking.pk %}'">
                  <td style="vertical-align: top;">{{forloop.counter}}</td>
                  <td style="vertical-align: top;">{{booking.customer.name}}</td>
                  <td style="vertical-align: top;">{{booking.customer.mobilenumber}}</td>
                  <td style="vertical-align: top;">
                    <ul class="list-group list-group-flush col col-10">
                      {% for booked_product in booking.bookedproduct_set.all %}
                      <li class="list-group-item p-0" style="padding-bottom: 2px !important;">
                        {{booked_product.product.name|title}} {{booked_product.product.tag}}</li>
                      {% endfor %}
                    </ul>
                  </td>
                  <td style="vertical-align: top;">{{booking.startDate}}, {{booking.get_startTime_display}}</td>
                  <td style="vertical-align: top;">{{booking.endDate}}, {{booking.get_endTime_display}} </td>
                  <td style="vertical-align: top;">{{booking.branch}}</td>
                  <td style="text-align: right;">
                    <a href="{% url 'booking_details'  booking.pk %}" class="btn btn-md"><i class="fa fa-eye"
                        aria-hidden="true"></i></a>
                    <a href="{% url 'booking_update'  booking.pk %}" class="btn btn-md"><i class="fa fa-pencil"
                        aria-hidden="true"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% include 'includes/paginate_component.html' %}
      </div>
    </div>
  </section>
</main>

<script>
  function printDiv() {
    console.log("gog")
    var printContents = document.getElementById("section-to-print").innerHTML;
    var originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;

    window.print();
    document.body.innerHTML = originalContents;
  }
</script>

{% endblock %}