{% extends 'base.html' %} {% block content %}

<div class="container">
  <a  class="btn btn-primary btn-md" href="{% url 'product_create' %}">Create Product</a>

              <h1 class="justify-content-center d-flex mb-5">
                All Products
              </h1>

            <form    class="form-inline" id="searchForm" action="#product_search" method="get" >
                <input required placeholder="search product tag" id="resultselect"  class="form-control" name="product" >
                <button class="btn btn-primary btn-md" >Go</button>
            </form>


  <ul class="list-group">
    {% for product in product_list %}

    <li class="list-group-item list-group-item-action">
      <div class="row">

          <div class="col col-2">{{ product.name }}</div>
          <div class="col col-1">{{ product.tag }}</div>
          <div class="col col-1"><img  class="imageZoom" src="{{ product.image.url }}" height="50" /></div>
          <div class="col col-1">{{ product.status }}</div>


          <div class="col col-2">
            <a href="#product_details"
            class="btn btn-primary btn-md">View</a>
          </div>
          <div class="col col-2">
            <a href="{% url 'product_update'  product.pk %}"
            class="btn btn-warning btn-md">Update</a>
          </div>
          <div class="col col-2">
            <a href="{% url 'product_delete'  product.pk %}"
            class="btn btn-danger btn-md" >delete</a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% include 'paginate_component.html' %}
</div>



    <style>
    .imageZoom:hover{
        transform: scale(300%);
    }

    </style>

{% endblock %}