<!-- templates/post_delete.html -->
{% extends 'base.html' %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Delete Product</h1>
    </div>
    <section class="section dashboard">
      <div class="row">
        <div class="col-12">
          <div class="card top-selling overflow-auto">
            <div class="card-body pb-0">
              <h5 class="card-title">{{product.name|title}}</h5>
              <form action="" method="post">
                  {% csrf_token %}
                  <p>Are you sure you want to delete "{{ product.name }}"?</p>
                  <input class="btn btn-danger mb-3" type="submit" value="Confirm" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock content %}