{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
{% include 'includes/alert.html' %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} Staff</h1>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Staff</h5>
            <form method='post' enctype="multipart/form-data">
              {% csrf_token %}
              {% if form.instance.pk %}
              {% else %}
              <div class="mb-3">
                <label class="form-label">First Name</label>
                <input class="form-control" type="text" name='f_name' />
              </div>
              <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input class="form-control" type="text" name='l_name' />
              </div>
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" type="text" name='email' />
              </div>
              <!-- form-group// -->
              <div class="mb-3">
                <label class="form-label">Create password</label>
                <input class="form-control" type="password" name='password' />
              </div>
              {% endif %}
              {{form|crispy}}
              <div class="">
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                {% if form.instance.pk %}
                    <a href="{% url 'staff_delete'  form.instance.pk %}" style="float: right;" class="mt-3 btn btn-md btn-danger">Delete</a>
                {% endif %}
              </div>
            </form><!-- End Horizontal Form -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
