{% extends 'base.html' %} {% block content %}
    <div class="container shadow-lg p-3 mb-5 bg-white rounded       ">
    <h1 class="d-flex justify-content-center my-5"> {{shop.name}}</h1>


   <div class="row">
     <div class="col text-center">

     </div>
     <div class="col">

      <h4 >Shop name : {{shop.name}}</h4>

      <p class="border-bottom"> Address : {{shop.address}}</p>
      <p class="border-bottom">Contact Number : {{shop.customer.mobilenumber}}</p>
{#      <p class="border-bottom"> Manager : {{shop.customuser_set.name    }}</p>#}
{#      <p class="border-bottom">Category :  {{}}</p>#}

     </div>
     <div class="row">
       <div class="col mx-auto">

         <div id="datepicker"></div>
       </div>
     </div>

{##}
{#      <div class="container-fluid px-0" id='section-to-print'>#}
{##}
{##}
{##}
{#        <table class="table " >#}
{#        <thead class="thead-dark  " style="background-color: #212529; color:white;border:2px white">#}
{#         <tr>#}
{#           <th scope="col">#</th>#}
{#           <th scope="col">Customer  Name</th>#}
{#           <th scope="col">Customer Number</th>#}
{#           <th scope="col">Date Of Booking</th>#}
{#           <th scope="col">Date Of Return</th>#}
{#         <th scope="col">Description</th>#}
{#         <th scope="col" id="removeprint">View</th>#}
{##}
{#         </tr>#}
{#       </thead>#}
{#       <tbody>#}
{##}
{#       {% for booking in bookings %}#}
{#       <tr>#}
{#           <th scope="row"> </th>#}
{#           <td>{{ booking.customer}}</td>#}
{#           <td>{{ booking.customer.mobilenumber }}  </td>#}
{#           <td>{{ booking.startDate }}</td>#}
{#           <td>{{ booking.endDate }}</td>#}
{##}
{#           <td>{{ booking.description }}</td>#}
{#           <td id="removeprint">  <a class="btn btn-primary btn-md" href="{% url 'booking_details' booking.pk %}">View</a></td>#}
{#         </tr>#}
{##}
{#       {% endfor %}#}
{#       </tbody>#}
{#     </table>#}

   </div>

{% endblock %}