{% extends 'base.html' %}
{% block content %}
{% load static %}
<main id="main" class="main">

  <div class="pagetitle mb-5">
    <h1>Dashboard</h1>
    {% if is_approved %}
    <form class="my-3" action="{% url 'dashboard'  %}" method="post">
      {% csrf_token %}
        <div class="row">
          <div class="col-6 col-lg-2 form-group">
              <input type="date" class=" form-control" name="startDate" id="startDate" required>
          </div>
          <div class="col-6 col-lg-2 form-group">
            <input type="date" class=" form-control" name="endDate" id="endDate" required>
        </div>
          <div class="col-8 form-group">
              <button class="btn btn  btn btn-primary" id="submitDate" type="submit">Search</button>
          </div>
      </div>
    </form>
    {% endif %}
  </div><!-- End Page Title -->
  {% include 'includes/alert.html' %}
  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="card-body">
                <h5 class="card-title">Revenue</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>Rs. {{revenue}}</h6>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->

          <!-- Send Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'send_list' %}" style="color: inherit;">To Send</a></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ toSend.count }}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Send Card -->
          
          <!-- Receive Card -->
          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">

              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'receive_list' %}" style="color: inherit;">To Recieve</a></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ toRecieve.count }}</h6>
                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Receive Card -->

          <!-- Reports -->
          {% comment %}
          <div class="col-12">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">Report <span>/Today</span></h5>

                <!-- Line Chart -->
                <div id="reportsChart"></div>

                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#reportsChart"), {
                      series: [{
                        name: 'Paid',
                        data: {{data.paid}}
                      }, {
                        name: 'Revenue',
                        data: {{data.revenue}}
                      }, {
                        name: 'Due',
                        data: {{data.due}}
                      }],
                      chart: {
                        height: '400px',
                        type: 'area',
                        toolbar: {
                          show: false
                        },
                      },
                      markers: {
                        size: 4
                      },
                      colors: ['#4154f1', '#2eca6a', '#ff771d'],
                      fill: {
                        type: "gradient",
                        gradient: {
                          shadeIntensity: 1,
                          opacityFrom: 0.3,
                          opacityTo: 0.4,
                          stops: [0, 90, 100]
                        }
                      },
                      dataLabels: {
                        enabled: false
                      },
                      stroke: {
                        curve: 'smooth',
                        width: 2
                      },
                      xaxis: {
                        type: 'datetime',
                        // categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                        categories: {{data.dates|safe}}
                      },
                      tooltip: {
                        x: {
                          format: 'dd/MM/yy'
                        },
                      }
                    }).render();
                  });
                </script>
                <!-- End Line Chart -->

              </div>

            </div>
          </div><!-- End Reports -->
          {% endcomment %}
          <!-- To Send -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'send_list' %}" style="color: inherit;">To Send</a></h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <tr>
                        <th style="width:5%">#</th>
                        <th style="width:15%">Customer</th>
                        <th style="width:15%;">Total Price</th>
                        <th style="width:15%;">Products</th>
                        <th style="width:15%;">Booking Date</th>
                        <th style="width:15%;">Return Date</th>
                      </tr>
                    </tr>
                  </thead>
                  <tbody>
                    {% for booking in toSend %}
                    <tr>
                      <td style="vertical-align: top;">{{forloop.counter}}</td>
                      <th scope="row"><a href="#">{{booking.customerName}}</a></th>
                      <td style="vertical-align: top;">Rs. {{booking.totalAmount}}</td>
                      <td style="vertical-align: top;">
                        <ul class="list-group list-group-flush col col-10">
                          {%  for booked_product in booking.products.all %}
                              <li class="list-group-item p-0" style="padding-bottom: 2px !important;">{{booked_product.name|title}} {{booked_product.tag}}</li>
                          {% endfor %}
                        </ul>
                      </td>
                      <td style="vertical-align: top;">{{booking.startDate}}</td>
                      <td style="vertical-align: top;">{{booking.endDate}}</td>
                      
                    </tr>
                      {% endfor %}
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->

          <!-- To Recieve -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'receive_list' %}" style="color: inherit;">To Recieve</a></h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <tr>
                        <th style="width:5%">#</th>
                        <th style="width:15%">Customer</th>
                        <th style="width:15%;">Total Price</th>
                        <th style="width:15%;">Products</th>
                        <th style="width:15%;">Booking Date</th>
                        <th style="width:15%;">Return Date</th>
                      </tr>
                    </tr>
                  </thead>
                  <tbody>
                    {% for booking in toRecieve %}
                    <tr>
                      <td style="vertical-align: top;">{{forloop.counter}}</td>
                      <th scope="row"><a href="#">{{booking.customerName}}</a></th>
                      <td style="vertical-align: top;">Rs. {{booking.totalAmount}}</td>
                      <td style="vertical-align: top;">
                        <ul class="list-group list-group-flush col col-10">
                          {%  for booked_product in booking.products.all %}
                              <li class="list-group-item p-0" style="padding-bottom: 2px !important;">{{booked_product.name|title}} {{booked_product.tag}}</li>
                          {% endfor %}
                        </ul>
                      </td>
                      <td style="vertical-align: top;">{{booking.startDate}}</td>
                      <td style="vertical-align: top;">{{booking.endDate}}</td>
                      
                    </tr>
                      {% endfor %}
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->



          <!-- Top Selling -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">

              <div class="card-body pb-0">
                <h5 class="card-title">Top Pending</h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <tr>
                        <th style="width:5%">#</th>
                        <th style="width:15%">Customer</th>
                        <th style="width:15%;">Amount Due</th>
                        <th style="width:15%;">Products</th>
                        <th style="width:15%;">Booking Date</th>
                        <th style="width:15%;">Return Date</th>
                      </tr>
                    </tr>
                  </thead>
                  <tbody>
                    {% for booking in top_bookings %}
                    <tr>
                      <td style="vertical-align: top;">{{forloop.counter}}</td>
                      <th scope="row"><a href="#">{{booking.customerName}}</a></th>
                      <td style="vertical-align: top;">Rs. {{booking.amountDue}}</td>
                      <td style="vertical-align: top;">
                        <ul class="list-group list-group-flush col col-10">
                          {%  for booked_product in booking.products.all %}
                              <li class="list-group-item p-0" style="padding-bottom: 2px !important;">{{booked_product.name|title}} {{booked_product.tag}}</li>
                          {% endfor %}
                        </ul>
                      </td>
                      <td style="vertical-align: top;">{{booking.startDate}}</td>
                      <td style="vertical-align: top;">{{booking.endDate}}</td>
                    </tr>
                      {% endfor %}
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Top Selling -->

        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">
        <!-- Website Traffic -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">Dresses Booked </h5>

            <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

            <script>
              document.addEventListener("DOMContentLoaded", () => {
                echarts.init(document.querySelector("#trafficChart")).setOption({
                  tooltip: {
                    trigger: 'item'
                  },
                  legend: {
                    top: '5%',
                    left: 'center'
                  },
                  series: [{
                    name: 'Access From',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                      show: false,
                      position: 'center'
                    },
                    emphasis: {
                      label: {
                        show: true,
                        fontSize: '18',
                        fontWeight: 'bold'
                      }
                    },
                    labelLine: {
                      show: false
                    },
                    data: [{
                        value: 1048,
                        name: 'Lehanga'
                      },
                      {
                        value: 735,
                        name: 'Sherwani'
                      },
                      {
                        value: 580,
                        name: 'Bridal'
                      },
                      {
                        value: 484,
                        name: 'Suit'
                      },
                      {
                        value: 300,
                        name: 'Others'
                      }
                    ]
                  }]
                });
              });
            </script>

          </div>
        </div><!-- End Website Traffic -->
        {% comment %}
        <!-- News & Updates Traffic -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">News &amp; Updates</h5>

            <div class="news">
              <div class="post-item clearfix">
                <img src="{% static '/img/news-1.jpg' %}" alt="">
                <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
              </div>

              <div class="post-item clearfix">
                <img src="{% static '/img/news-2.jpg' %}" alt="">
                <h4><a href="#">Quidem autem et impedit</a></h4>
                <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
              </div>

              <div class="post-item clearfix">
                <img src="{% static '/img/news-3.jpg' %}" alt="">
                <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
              </div>

              <div class="post-item clearfix">
                <img src="{% static '/img/news-4.jpg' %}" alt="">
                <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
              </div>

              <div class="post-item clearfix">
                <img src="{% static '/img/news-5.jpg' %}" alt="">
                <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
              </div>

            </div><!-- End sidebar recent posts-->

          </div>
        </div><!-- End News & Updates -->

        
         <!-- Recent Activity -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Recent Activity</h5>

            <div class="activity">

              <div class="activity-item d-flex">
                <div class="activite-label">32 min</div>
                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                <div class="activity-content">
                  Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">56 min</div>
                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                <div class="activity-content">
                  Voluptatem blanditiis blanditiis eveniet
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">2 hrs</div>
                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                <div class="activity-content">
                  Voluptates corrupti molestias voluptatem
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">1 day</div>
                <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                <div class="activity-content">
                  Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">2 days</div>
                <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                <div class="activity-content">
                  Est sit eum reiciendis exercitationem
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">4 weeks</div>
                <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                <div class="activity-content">
                  Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                </div>
              </div><!-- End activity item-->

            </div>

          </div>
        </div><!-- End Recent Activity -->

        <!-- Budget Report -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">Budget Report</h5>

            <div id="budgetChart" style="min-height: 400px;" class="echart"></div>

            <script>
              document.addEventListener("DOMContentLoaded", () => {
                var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                  legend: {
                    data: ['Allocated Budget', 'Actual Spending']
                  },
                  radar: {
                    // shape: 'circle',
                    indicator: [{
                        name: 'Sales',
                        max: 6500
                      },
                      {
                        name: 'Administration',
                        max: 16000
                      },
                      {
                        name: 'Information Technology',
                        max: 30000
                      },
                      {
                        name: 'Customer Support',
                        max: 38000
                      },
                      {
                        name: 'Development',
                        max: 52000
                      },
                      {
                        name: 'Marketing',
                        max: 25000
                      }
                    ]
                  },
                  series: [{
                    name: 'Budget vs spending',
                    type: 'radar',
                    data: [{
                        value: [4200, 3000, 20000, 35000, 50000, 18000],
                        name: 'Allocated Budget'
                      },
                      {
                        value: [5000, 14000, 28000, 26000, 42000, 21000],
                        name: 'Actual Spending'
                      }
                    ]
                  }]
                });
              });
            </script>

          </div>
        </div><!-- End Budget Report --> {% endcomment %}


      </div><!-- End Right side columns -->

    </div>
  </section>
</main>
{% endblock %}